body{
    height: 100%;
    background-color: #eee;
}

.name{
    padding-top: 15rem;
    padding-left: 10rem;
}

.name-container span{
    font-size: 8rem;
    text-transform: capitalize;
    font-family: 'Calibre', sans-serif;
    font-weight: 600;
    text-shadow: 0px 15px 15px #00000029;
}

.name .status{
    color: #4490ce;
    font-family: 'Calibre', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: -0.1rem;
}

.name .status-info{
    font-family: 'Calibre', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    opacity: 0.6;
    margin-top: -1rem;
}

.name .github-text{
    font-family: 'Calibre', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 3px;
}

#particles-js canvas{
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease;
}

#particles-js{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -10;
    top: 0;
    left: 0;
}
canvas
{
    display: block;
    position: fixed;
    z-index: -1;
}